@import "lib/style";

.errorMessage{
  @include caption-medium-text;
  border-radius: 4px;
  background-color: $darkRedColor;
  color: white;
  font-size: 1em;
  padding: 1em;
  margin: 1em;
  line-height: 1em;
}
